{% extends "kvyat/base/base.html" %}

{% block title %}{% block pagetitle %}Create Room{% endblock %}{% endblock %}

{% block content %}
    <>
    <p>Welcome to Kvyat! Send this link to your friend and play!</p><br>
    {% if not user.is_authenticated %}
        <p style="color: cornflowerblue">To start a game, you have to <a href="{% url 'kvyat:login' %}">log in</a> first! If you don't have an account, you can <a href="{% url 'kvyat:register' %}">sing up</a> for free!</p>
    {% endif %}
{% endblock %}