{% extends "kvyat/base/base.html" %}

{% block title %}{% block pagetitle %}Play pls{% endblock %}{% endblock %}

{% block content %}
    <div><p>Welcome to Kvyat!</p></div>
    {% if not user.is_authenticated %}
        <div>
            <p style="color: cornflowerblue">To start a game, you have to <a href="{% url 'kvyat:login' %}">log in</a> first! If you don't have an account, you can <a href="{% url 'kvyat:register' %}">sing up</a> for free!</p>
        </div>
    {% else %}
        <div>
            <p class="playButton" onclick="window.location.href = '{% url 'kvyat:room' %}'">Play</p>
        </div>
    {% endif %}
{% endblock %}